modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "JediRe"

[[workflows.workflow]]
name = "JediRe"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[userenv]

[userenv.shared]
JWT_REFRESH_SECRET = "jedi-re-refresh-secret-2026-secure-token"
PORT = "3000"

[[ports]]
localPort = 3000
externalPort = 3002

[[ports]]
localPort = 4000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-25_05"
