run = "bash run.sh"
entrypoint = "run.sh"
modules = ["nodejs-20", "python-3.12", "bash", "web", "postgresql-16"]

[nix]
channel = "stable-25_05"

[deployment]
run = ["node", "backend/dist/index.replit.js"]
deploymentTarget = "autoscale"
build = ["bash", "build.sh"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 4000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 5904
externalPort = 3001

[agent]
expertMode = true
integrations = ["stripe:1.0.0", "twilio:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "JediRe"

[[workflows.workflow]]
name = "JediRe"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./start.sh"
waitForPort = 5000

[userenv]

[userenv.production]
PORT = "5000"
NODE_ENV = "production"

[userenv.shared]
API_KEY_ADMIN = "8acb8b8cf3704e3af9c8bb8738925d103f7cda59b14d6c99d825cf29cfa195cb"
APARTMENT_LOCATOR_API_URL = "https://apartment-locator-ai-real.replit.app"
JEDIRE_AGENT_API_KEY = "jre_agent_f3605def93ab3e626fe5775ae13951c208d143a32311f436"
JEDIRE_API_URL = "http://localhost:4000"
TWILIO_ACCOUNT_SID = "AC2c120588ee8f90890c5f1a62cd75c6d8"
